@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

/** {
	box-sizing: border-box;
	margin; 0;
	padding: 0;
	background-color: #eef1f2;
}
*/

body {
	/*display: inline;*/
	/*text-align:center;*/
	background-color: #eef1f2;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	}
	
	
header {
		display: flex;
		justify-content: space-around;
		text-align: center;
		margin: auto;
		padding: .5rem 0;
		background: #333333;
		color: white;	
}
#titulo {
	
	text-align:center;
}

#navegacion {
	background-color: #898989;
	display: flex;
	/*align-items: left;*/
	padding: 30px 10%;
	/*justify-content: space-around;*/
	margin: 0;
	padding: 0;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #resultados {
  padding-top: 102px;
}

.navbar-logo img {
	height: 3rem;
	align-content: center;
}

hr {

	  border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 1rem 1.5rem;
}

h2 {
	margin-inline: 5em;
}

.site-container {
	/*background-color: #eef1f2;*/
	/*margin: 5px;
	border: 5px;
	padding: 5px;*/
}

#resultados {
	margin: 3%;
	padding: 0.2%;
}

#masMaterias {
	align-items: center;
	text-align: center;
	padding: 0 0 30px 0;
}

a.dropbtn {
    display: inline-block;
    color: white;
    background: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a, .dropbtn::after {
		content: '  \25BC';
		/*font-size: 11px;*/
}

li a:hover, .dropdown:hover .dropbtn {
    /*background-color: red;*/
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	color: #b3b3b3;
}

.show {display:block;}
/*** Botones ***/

.button {
	display: none;
  background-color: #4CAF50; /* Green */
  font-weight: bold;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 1em;
  margin: 0.5em 0.5em;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

/*** Article Styling ***/
ul {
    list-style: none;
    padding: 0;
}

.article {
		display: flex;
		Justify-content: space-between;
		align-content: space-between;
		cursor: pointer;
    /***background: url('../images/icon-article.png'), #ffffff;***/
    /*background-position: 1.5em 1.2em;
    background-repeat: no-repeat;
    background-size: 1.8em;*/
    background-color: #ffffff;
    /*border: solid 1px #dbe2e8;*/
    /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);*/
    /*box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);*/
    margin-bottom: 0.5em;
    padding: 1em 2em 1em 4.8em;
    border-radius: .375rem;
    list-style-type: none;
		/*border-top: var(--accent-width,5px) solid var(--accent-color,#60D69A);*/
}

.article li {
	padding: 0.1 px;
}

/*.article img {
    float: right;
    margin: 0 50px 10px 50px;
}*/

.article:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.article h2 {
    font-size: 1em;
    font-weight: 600;
    margin: 0;
}

.article h2 a {
    color: #02b3e4;
    text-decoration: none;
}

.article h2 a:hover {
    text-decoration: underline;
}

.article p {
    font-size: 0.9em;
    line-height: 1em;
}

.portada {
	order: 2;
	display: block;
	width: 6em;
  height: 7.5em;
  margin: 0.2em;
	padding: 0.1em;
	background-color: red;

}

.menu {
		display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}

.menu a#dropbtn > a::after {
    content: '';
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid;
    position: absolute;
    margin-left: 15px;
    top: 18px;
    vertical-align: middle;
    vertical-align: calc(-50% - 4px );
}

/***
los pequeñito
***/

@media screen and (max-width:600px) {
	.article {
		font-size: 0.9em;
	}
  header, nav ul {
    flex-direction: column;
    text-align: center;
    font-size: 0.9em;
    padding: 0;
  }
  
  
  .article {
  	padding: 1em 2em 1em 2em;
  }
}
